//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 23 15:30:21 2016
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

